.header {
    text-align: center;
    background-color: white;
}
.app{
    display:block;
}

.post{
    margin-left: 25%;
    margin-right: 25%;
    background-color: white;
}

.headerpost{
    display:flex;
    border-color: grey;
    border-style: solid;
    border-width: 0px 0px 1px;
}

h4{
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-right: 2%;
    color: rgb(161, 161, 161);
    text-align: justify;
    border-color: grey;
    border-style: solid;
    border-width: 1px 0px 0px 0px;
}

.headerpost h3{
    bottom:1px;
    padding-left: 1%;
}

.headerpost h4{
    position: absolute;
    right: 27%;
    padding-right: 0%;
    padding-bottom: 0%;
    padding-top: 0%;
    border-width: 0px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

body {
    background-color: rgb(223, 223, 223);
  }